:root {
  --m-black: #181818;
  --lgrey: #e2e2e2;
  --white: white;
  --black: black;
  --white-m: #fffefa;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.hero-button-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
}

.container-2 {
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  overflow: visible;
}

.container-2.slide-up {
  flex-flow: column;
}

.container-2.center.slide-up {
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  padding-top: 3rem;
}

.container-2.hero-container {
  margin-top: 2rem;
}

.paragraph {
  text-align: justify;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.flex-block {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #0000;
  flex-flow: column;
  max-width: 45rem;
  margin-right: 10rem;
}

.rotation {
  z-index: -1;
  background-image: none;
  background-size: auto;
  max-width: 25rem;
  transition: all .2s;
  transform: rotate(4deg);
}

.rotation:hover {
  transform: none;
}

.rotation.mobile-rotate {
  display: none;
}

.section {
  flex-flow: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section.hero {
  padding-top: 5rem;
}

.hero-text {
  z-index: 1;
  color: #f1f1f1;
  text-align: left;
  mix-blend-mode: difference;
  padding-right: 0;
  font-family: Inter, sans-serif;
  font-size: 85px;
  line-height: .9;
}

.button {
  color: #000;
  background-color: #eaff4d;
  border-radius: 45px;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 1;
}

.button:hover {
  color: #fffefa;
  background-color: #000;
}

.button.b1 {
  background-color: #a2ddd9;
  font-size: 12px;
}

.button.b1:hover {
  background-color: #000;
}

.button.b1.w--current {
  font-size: 14px;
}

.flex-block-4 {
  width: 100%;
}

.paragraph-2 {
  max-width: 750px;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
}

.image {
  max-height: 100%;
  transition: all .2s;
}

.heading {
  color: var(--m-black);
  width: 75%;
  max-width: 45rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.body {
  background-color: #fffefa;
}

.project-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch start;
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  display: grid;
}

.field-label {
  color: var(--m-black);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.imgabsolute {
  position: absolute;
  inset: -1% -2% 0% auto;
}

.div-block-8 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: flex;
  position: relative;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.grid {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.imgquote {
  max-width: 100%;
  max-height: 100%;
}

._2remspace {
  width: 100%;
  height: 2rem;
}

._2remspace.line {
  border-top: 1px solid var(--lgrey);
}

._1remspace {
  width: 100%;
  height: 1rem;
}

.dates {
  color: #acacac;
  font-family: Inter, sans-serif;
}

._0-5remspace {
  width: 100%;
  height: .5rem;
}

.blog-c-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.title-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.footertext {
  font-family: Inter, sans-serif;
  font-size: .8rem;
}

.outerbox {
  justify-content: flex-start;
  align-items: center;
}

.innerwrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.rowbox {
  border-bottom: 1px solid var(--lgrey);
  padding-top: 2px;
  padding-bottom: 2px;
}

.project-number {
  color: var(--m-black);
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.project-title {
  color: var(--m-black);
  padding-top: .3125rem;
  padding-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.project-type {
  color: var(--m-black);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.project-type.label {
  background-color: #7fc1ff;
  border-radius: 32px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}

.small-regular-text {
  color: var(--m-black);
  padding-top: .3125rem;
  padding-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

.small-regular-text.none-height {
  line-height: 1;
}

.small-regular-text.above {
  margin-bottom: .3125rem;
}

.small-regular-text.aux {
  margin-bottom: .625rem;
}

.project-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 12rem;
  min-height: 15rem;
  padding: .625rem .625rem .625rem 0;
  display: flex;
  overflow: hidden;
}

.toprow-wrap {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.label {
  background-color: #eaff4d;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
}

.description {
  border-top: 1px solid var(--lgrey);
  border-bottom: 1px solid var(--lgrey);
  justify-content: flex-start;
  align-items: flex-start;
  height: 6rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  display: flex;
}

.description.essay {
  height: 7rem;
}

.open-project {
  color: var(--m-black);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

.div {
  width: 1rem;
  height: 1rem;
}

.code-embed {
  width: 100%;
  height: 100%;
}

.code-embed-2 {
  color: var(--m-black);
  justify-content: center;
  align-items: flex-end;
  margin-left: .3125rem;
  display: flex;
}

.open-project-wrapper {
  justify-content: center;
  align-items: center;
  margin-top: .3125rem;
  margin-bottom: .625rem;
  display: flex;
}

.open-project-wrapper:hover {
  padding-left: 5px;
  padding-right: 5px;
}

.link {
  height: 0;
}

.form-block {
  width: 100%;
  max-width: 22.5rem;
  font-family: Inter, sans-serif;
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 4rem;
  max-height: 10rem;
}

.text-field, .text-field:focus {
  color: var(--m-black);
  font-family: Inter, sans-serif;
}

.text-field:focus-visible {
  font-family: Inter, sans-serif;
}

.text-field[data-wf-focus-visible] {
  font-family: Inter, sans-serif;
}

.dt-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.download {
  color: var(--m-black);
  background-color: #a2ddd9;
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 5px 1rem;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.success-message {
  background-color: #eaff4d;
}

.error-message {
  color: var(--m-black);
  background-color: #ff8080;
  border-radius: 32px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.code-embed-3 {
  color: var(--m-black);
  margin-right: .5rem;
}

@media screen and (max-width: 991px) {
  .container-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .rotation {
    max-width: 20rem;
  }

  .section.hero {
    padding-top: 2rem;
  }

  .hero-text {
    font-size: 3.8rem;
  }

  .project-grid {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: stretch stretch;
    width: 100%;
  }

  .outerbox {
    padding-left: 5px;
    padding-right: 5px;
  }

  .toprow-wrap {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .3125rem;
  }

  .open-project-wrapper:focus {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 767px) {
  .container-2 {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25px;
    padding-right: 25px;
  }

  .container-2.center.slide-up {
    padding-top: 0;
  }

  .flex-block {
    max-width: 34.9rem;
    margin-right: 0;
    position: relative;
  }

  .rotation {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 13.7rem;
    height: auto;
    min-height: 300px;
    transform: rotate(4deg);
  }

  .hero-text {
    padding-bottom: 1rem;
    font-size: 3.5rem;
  }

  .button {
    font-size: 16px;
  }

  .button.b1.w--current {
    padding: .5rem 1rem;
  }

  .paragraph-2 {
    max-width: 500px;
    font-size: 16px;
  }

  .heading {
    font-size: 20px;
  }

  .project-grid {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }

  .imgabsolute {
    inset: 45% 0 0% auto;
  }

  .div-block-8 {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 550px;
    margin-top: 0;
    position: relative;
  }

  .title-wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .small-regular-text.none-height {
    font-size: .8rem;
  }

  .project-wrapper {
    max-width: 90%;
  }

  .label {
    padding-left: 10px;
    padding-right: 10px;
  }

  .description, .description.essay {
    height: 8rem;
  }

  .dt-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .hero-button-wrapper {
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-2.slide-up {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-2.center.slide-up {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
  }

  .flex-block {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
  }

  .rotation {
    height: auto;
    min-height: auto;
    display: none;
  }

  .rotation.mobile-rotate {
    display: flex;
  }

  .section {
    height: auto;
    padding: 20px 1rem;
  }

  .section.hero {
    padding-top: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .hero-text {
    text-align: center;
    letter-spacing: -.04em;
    padding-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 2.2rem;
    line-height: .9;
  }

  .button {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    margin-bottom: .5rem;
    margin-right: 0;
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
  }

  .button.b1 {
    margin-bottom: 0;
  }

  .button.b1.w--current {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 0;
    font-size: .8rem;
  }

  .button.b1.otherpage.w--current {
    margin-bottom: 0;
  }

  .image {
    width: 209.76px;
  }

  .heading {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .project-grid {
    grid-column-gap: 1rem;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    place-items: stretch stretch;
  }

  .imgabsolute {
    position: relative;
    top: 1.6rem;
  }

  .div-block-8 {
    justify-content: center;
    align-items: center;
  }

  .heading-2 {
    font-size: 1.4rem;
    line-height: 1;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .outerbox {
    justify-content: space-between;
    align-items: stretch;
    min-height: 10rem;
  }

  .rowbox.extra {
    padding-bottom: 40px;
  }

  .project-type {
    font-size: .8rem;
  }

  .project-wrapper {
    max-width: 100%;
  }

  .description.essay {
    height: 12rem;
  }

  .code-embed-2 {
    padding-top: 1px;
  }

  .text-field {
    color: var(--m-black);
    font-family: Inter, sans-serif;
  }

  .text-field:focus {
    color: var(--m-black);
  }

  .text-field:focus-visible {
    color: var(--m-black);
  }

  .text-field[data-wf-focus-visible] {
    color: var(--m-black);
  }
}


